
/* styles/globals.css */
body {
    font-family: 'SBAggroB', sans-serif;

}
.HomeList{
    margin-bottom: 6vh;
}

@media (max-width: 768px){
    .HomeList{
     margin-bottom: 4vh;
    }
}

.main{
    padding: 24px 10px ;
    margin-top: 80px ;
}

.skill_list_img{
    border:2px solid black;
    border-Radius:30%;
    overflow: hidden;
    height: 100px;
    width: 100px;
    display: grid;
    place-items: center;
    background-color: white;
    margin-right: 5px;
    margin-bottom: 5px;


}

@media (max-width: 768px) {
    .skill_list_img {
        height: 50px;
        width: 50px;

    }
}


.project_list_img{
    border:3px solid black;
    border-radius:10%;
    overflow: hidden;
    position:relative;
    height: 150px;
    width: 300px;

}

.modalOverlayStyle{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContentStyle  {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 1200px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
}

.divider {
    border: none;
    border-top: 2px solid #ccc;
    margin: 10px 0;
}

.closeButtonStyle{
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


.education_box{
    justify-content: space-between;
    display: flex;
    border: 50px;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('/fonts/nanum_gothic/NanumGothic.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* 로딩이 완료되면 폰트를 교체 */
}

@font-face {
    font-family: 'NanumGothicBold';
    src: url('/fonts/nanum_gothic/NanumGothicBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* 로딩이 완료되면 폰트를 교체 */
}


.intro{
    font-family: 'NanumGothic',sans-serif;
    font-size: 18px;
    line-height: 28px;

}

header {
    position: fixed;      /* 스크롤을 따라 헤더 고정 */
    top: 0;               /* 화면 상단에 고정 */
    left: 1em;              /* 화면 왼쪽 끝에 고정 */
    width: 85%;          /* 전체 화면 너비 */
    background-color: white; /* 배경색 */
    z-index: 2000;        /* 다른 요소들보다 위에 위치 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
    padding: 10px 20px;   /* 내부 여백 */
    transition: top 0.3s; /* 스크롤에 따라 부드럽게 움직이는 효과 */
}

@media (max-width: 768px) {
    header {
        width: 85%;
        font-size: 0.7em;         /* 모바일에서 폰트 크기를 줄임 */
    }

}




nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: rgba(0, 45, 253, 0.82);
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
}

html {
    width: 100%;
    padding: 1rem;
}

@media (max-width: 768px) {
    table {
        width: 100%;
    }

    td {
        font-size: 0.9rem;
        padding: 8px;
    }
}


