.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.logoContainer {
    flex-direction: column;
    align-items: center;
}

.hamburgerButton {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}

.desktopMenu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 1em;
}

.menuLink {
    color: black;
    text-decoration: none;
    font-size: 1.1em;
}

.mobileMenu {
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    top: 90px;
    right: 0;
    width: 30%;
    background-color: white;
    z-index: 1000;
    border-top: 2px solid #000;
    font-size: 1rem;

}

.mobileMenu.open {
    display: flex;
}

/* 모바일 화면에서 햄버거 버튼 보이도록 */
@media (max-width: 768px) {
    .desktopMenu {
        display: none; /* 모바일 화면에서는 기본적으로 메뉴 숨기기 */
    }

    .hamburgerButton {
        display: block; /* 모바일 화면에서 햄버거 메뉴 버튼 보이기 */
    }
}

/* 데스크탑 화면에서는 메뉴가 항상 보이게 */
@media (min-width: 769px) {
    .hamburgerButton {
        display: none; /* 데스크탑에서는 햄버거 메뉴 버튼 숨기기 */
    }

    .mobileMenu {
        display: none; /* 데스크탑에서는 모바일 메뉴 숨기기 */
    }

    .desktopMenu {
        display: flex;
    }
}
